@{
    ViewBag.Title = "Servicos";
}

<link rel="stylesheet" href="~/Content/home.css" />

<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->

<div>
    <form class="primeiro">
        <img src="~/Images/gest.png">
    </form>
</div>
<div>
    <form class="segundo">
        <a href="planos.html"><img src="~/Images/planoM.png"></a>
    </form>
</div>
<div>
</div>